.container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 50px auto;
  }
  
  @media (max-width: 700px) {
    .container {
      margin: 60px 20px 0 10px;
      max-width: 350px;
      padding: 20px;
    }
  }
  
  .container:before {
    content:'';
    position: absolute;
    display: inline-block; 
    left: 50%;
    background-color: lightgray;
    width: 2px;
    height: 100%;
    z-index: -10;
  }
  
  @media (max-width: 700px) {
    .container:before {
      left: initial;
      margin-left: 30px;
    }
  }
  
  .block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  @media (max-width: 700px) {
    .block {
      justify-content: flex-start;
    }
  }
  
  .block:last-of-type {
    margin-bottom: 0;
  }
  
  .block:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  @media (max-width: 700px) {
    .block:nth-child(even) {
      flex-direction: initial;
    }
  }
  
  .image {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid lightgray;
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  @media (max-width: 700px) {
    .image {
      width: 50px;
      height: 50px;
      margin-left: 0px;
      margin-right: 20px;
      order: -1;
    }
  }
  
  .step-five .text {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 250px;
  }
  
  @media (max-width: 700px) {
    .step-five .text {
      max-width: none;
      height: 0;
    }
  }
  
  .step-five {
    position: relative;
  }
  
  .step-five .empty {
    height: 100px;
  }
  
  @media (max-width: 700px) {
    .step-five .empty {
      height: 0px;
      width: 0;
    }
  }
  
  .step-five .image {
    position: absolute;
    margin: 0 auto;
  }
  
  @media (max-width: 700px) {
    .step-five .image {
      width: 50px;
      height: 50px;
      margin-left: 0px;
      margin-right: 20px;
      order: -1;
      margin-bottom: 50px;
    }
  }
  
  .step-five p {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 20px 10px 20px;
    line-height: 1.5;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }
  
  @media (max-width: 700px) {
    .step-five p {
      font-size: 8px;
      line-height: initial;
      padding: 5px 10px 3px 10px;
    }
  }
  
  .text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    order: -1;
    color: #5c5c5c;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    max-width: 250px;
  }
  
  @media (max-width: 700px) {
    .text {
      max-width: none;
      font-size: 10px;
    }
  }
  
  .text p {
    margin-top: 0;
  }
  
  @media (max-width: 700px) {
    .text p {
      text-align: initial;
    }
  }
  .empty {
    order: 1;
    display: flex;
    width: 350px;
    height: 200px;
    max-width: 250px;
  }
  
  @media (max-width: 700px) {
    .empty {
      display: none;
      max-width: none;
      order: 0;
      height: 0;
      width: 0;
    }
  }
  
h1, h2 {
font-family: 'Montserrat', sans-serif;
color: black;
line-height: 1.5;
font-size: 16px;
margin-top: 0;
}

@media (max-width: 700px) {
h1, h2 {
    font-size: 14px;
    }
}
